.icon {
    width: 15vmin;
    height: 15vmin;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
}

.skills-row {
    margin-bottom: 3vmin;
}

.skills-title {
    margin-bottom: 4vmin;
}

.skills-subheading {
    margin-bottom: 5vmin;
}